.main-div {
  /* width: 100%; */
  /* height: 100vh; */
  /* background: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}


/* Ban list styling */
.ban-div {
  background-color: rgb(201, 201, 201);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  width: 12vw;
  height: 75vh;
  overflow-y: auto;
}

#ban-title {
  margin-top: 1rem;
  margin-bottom: 0;
}
#ban-desc {
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  list-style: none;
  margin: 0.15rem;
}

li p {
  margin: 0;
  padding: 0;
}



/* Descriptive text styling */
p {
  /* height: 0; */
  margin-bottom: 0;
}

#loading {
  margin: 0;
}



/* Attribute styling */
.attribute {
  padding: 1rem;
  border-radius: 10px;
}

.name {
  background-color: rgb(245, 245, 245);
}

.origin{
  background-color: rgb(227, 253, 246);
}

.weight{
  background-color: rgb(240, 255, 208);
}

.lifespan{
  background-color: rgb(255, 228, 228);
}



/* Gallery styling */
.gallery-div {
  max-width: 100vw;
  background-color: black;
  text-align: center;
}
#gallery-title {
  color: white;
  padding: 2rem;
}
.gallery-img {
  height: 30vh;
}